<import: src=home>
<import: src=submit>
<import: src=post>

<Header:>
  <body class={{currentPage}}>
  <!-- if a component is nonvoid, it must have a closing tag -->
  <app:nav>
    {{#each pages}}
      {{#if current}}
        <b>{{text}}</b>
      {{else}}
        <a href={{url}}>{{text}}</a>
      {{/}}
      {{#unless isLast}} | {{/}}
    {{/}}
  </app:nav>

<nav: nonvoid>
  <nav>
    <!-- nonvoid components support a special `content` attribute -->
    {{@content}}
    <hr>
  </nav>

<Scripts:>
  <script type=text/javascript src=/js/jquery.js></script>
  <script type=text/javascript>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'FILL IN GA NUMBER']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

<Tail:>
  <noscript>
    Please enable javascript for a significantly better user experience.
  </noscript>