@import "../base"

.home

  ol

    li
      clear both
      padding-top .3em
      padding-bottom .3em

      .upvote
        float left
        width 10px
        font-weight bold
        cursor pointer